<ul>
  <li><%= 'Highest glucose level ' + reportObject.glucose_max.to_s + ' mg/dl' %></li>
  <li><%= 'Lowest glucose level ' + reportObject.glucose_min.to_s + ' mg/dl' %></li>
  <li><%= 'Average glucose levels ' + reportObject.glucose_avg.to_s + ' mg/dl' %></li>
</ul>